@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.header {
    background: var(--branco);
}


.header__menu {
    width: 24px;
    height: 24px;
    background-image: url('../img/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__elements{
    align-items: center;
    display: flex;
    gap: 1rem;
    padding-inline: 1rem;
    padding-block: 1rem;
}

.nav__ul {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.header__btn-menu {
    display: none;
}

.header__btn-menu:checked ~ .nav__ul {
    display: block;
}

.nav__title, .nav__li-item {
    padding: 1rem;
    background-color: var(--branco);
}

.nav__title {
    color: var(--laranja);
    font-weight: bold;
    font-size: 1rem;

}

.nav__li-a {
    background: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration-line: none;
    font-size: 1rem;
    text-transform: uppercase;
}

.header__title {
    display: none;
}

.nav__header {
    display: none;
}

/* .header__btn-menu:checked ~ .header__label > .header__menu {
    background-image: url("../img/Menu Aberto.svg");
} */


/* MEDIA QUERIES */

@media screen and (min-width: 1024px) {
    .header {
        padding-inline: 4rem;
    }

    .header__title {
        display: block;
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.875rem;
    }
    .header__title__span {
        font-weight: 400;
    }
    .nav__header {
        display: flex;
        list-style-type: none;
        align-items: center;
    }
    .nav__li-header {
        padding-inline: 1rem;
        text-transform: uppercase;
        cursor: pointer;

    }
    .nav__text {
        text-decoration-line: none;
        color: var(--preto);
        font-size: 1rem;
    }
    .header__img__heart {
        display: none;
    }
    .header__menu {
        display: none;
    }
    .header__container {
        justify-content: space-around;
    }
    .nav__btn-menu:checked ~ .nav__ul {
        display: block;
        width: auto;
        
    }
    .nav__btn-menu {
        display: none;
    }
    .header__img__shop {
        margin-right: 2rem;
    }
    .header__left {
        align-items: center;
    }   
    .header__subtitle{
        display: block;

    }
    .header__container-a {
        padding-right: 2rem;
    }
    .nav__btn-menu:checked ~ .nav__btn-label > .nav__li-header {
        background: var(--azul-degrade);
        color: var(--branco);
    }
    .nav__li-header {
        padding-block: 2rem 2rem;
}
    .nav__li-item:hover {
        background: var(--azul-degrade);
    }
    .nav__li-item:hover > .nav__li-a {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
        
    }
    .nav__text-header:hover {
        background: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    .header__subtitle:hover {
        background: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.header__subtitle{
    display: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1728px) {
    .header__container-a {
        display: flex;
        text-decoration: none;
        align-items: center;
        gap: 1rem;
    }
    .header__subtitle {
        color: var(--preto);
        display: block;
    }
    .first__h-s {
        margin-right: 1rem;
    }
    .nav__header{
        margin-right: auto;
    }
}