.search {
    background: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    text-align: center;
    padding-block: 2.5rem;
}

.search__title {
    color: var(--branco);
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 27px;
    
}

.search__description {
    color: var(--branco);
    font-weight: 400;
    font-size: 1rem;
    padding: 0.75rem;
}

.search__input {
    outline: none;
    background: transparent;
    color: var(--branco);
    font-size: 1rem;
    border: none;
    border: 1px solid var(--branco);
    width: 90%;
    padding-inline: 2rem;
    padding-block: 0.75rem;
    border-radius: 24px;
}

.search__input::placeholder {
    color: var(--branco);
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    background: url(../img/Lupa.svg) no-repeat;
    background-position: 0.25rem;
    font-family: "Poppins", sans-serif;
}


/* MEDIA */

@media screen and (min-width: 1024px) {
    .search {
        padding-block: 7rem;
    }
    .search__title {
        font-size: 3rem;
    }
    .search__description {
        padding-block: 1.25rem;
    }
    .search__input {
        width: 30%;
        border-radius: 16px;
        padding-inline: 1rem;
    }
    .search__input::placeholder {
        text-align: center;
        font-family: "Poppins", sans-serif;
        background-position: 0rem;
    }
}    